* {
    box-sizing: border-box;
}

html, body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Karla', sans-serif;
}


.titlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #293264;
    margin-top: 15rem;
}

.titlePage > h1 {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 2rem;
}

.titlePage > p {
    font-weight: 400;
    font-size: 1rem;
}

.startBtn {
    color: #F5F7FB;
    background-color: #4D5B9E;
    margin-top: 10px;
    padding: 15px 50px;
    font-weight: 500;
    font-size: 1rem;
}

main {
    padding: 20px;
    margin: auto;
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background-color: #F5F7FB;
}

.blob {
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.blobYellow {
    top: -120px;
    right: -150px;
    width: 350px;
    height: 350px;
    opacity: 0.8;
}

.blobPurple {
    bottom: -100px;
    left: -80px;
    width: 200px;
    height: 200px;
    opacity: 1;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #F5F7FB;
    padding: 3rem 2.5rem;
    overflow: hidden;
    width: 95%;
    max-width: 650px;
    min-height: 800px;
}

.question {
    color: #293264;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid #DBDEF0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid #4D5B9E;
    cursor: pointer;
    color: #293264;
}

.button-default {
    background-color: white;
    border: solid 1.5px #4D5B9E;
}

.button-selected {
    background-color: #D6DBF5;
}

.button-correct {
    background-color: #94D7A2;
}

.button-wrong {
    background-color: #F8BCBC;
}

.button-selected, .button-correct, .button-wrong {
    border: 1.5px solid transparent;
}

.button-checked {
    opacity: 0.5;
}

.button-default, .button-selected, .button-correct, .button-wrong, .button-checked {
    white-space: nowrap;
    width: auto;
    max-width: none;
    gap: 0.5rem;
    border-radius: 10px;
    line-height: 1.2;
    padding: 0.5rem 1rem;;
    white-space: nowrap;
}

.checkDiv, .newGameDiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.newGameDiv {
    align-items: center;
    gap: 20px;
    color: #293264;
    font-weight: 700;
}

.checkBtn, .newBtn {
    font-size: 0.75rem;
    padding: 15px 30px;
    color: #F5F7FB;
    background-color: #4D5B9E;
    font-weight: 600;
}

button:disabled {
    cursor: default;
    opacity: 0.65;
}